<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script type="module" src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
    <style>
        @@font-face{
            font-family: 'KwamSookRegularVX';
            src: url('../../Fonts/KwamSookRegularVX.ttf') format('truetype');
        }
        @@font-face {
            font-family: 'THSarabunNew';
            src: url('../../fonts/THSarabunNew.ttf') format('truetype');
        }
        .nav-link{
            /*font-family:KwamSookRegularVX;*/
            font-family:THSarabunNew;
            font-size:17pt;
        }
        body{
            /*font-family:KwamSookRegularVX;*/
            /*font-family:'Cordia New';*/
            /*font-size:20pt;*/
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="~/Content/Images/VDRS-Logo.png" width="30" height="30" alt="logo" class="d-inline-block align-top" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @if (Session["Role"] != null)
                    {
                        if ((int)Session["Role"] == 0)
                        {
                            <a class="nav-link" href="/Administrator/Index">ระบบรายงานพฤติกรรมการใช้ยานพาหนะ</a>
                        }
                        else if ((int)Session["Role"] == 1)
                        {
                            <a class="nav-link" href="/Student/Home">ระบบรายงานพฤติกรรมการใช้ยานพาหนะ</a>
                        }
                        else if ((int)Session["Role"] == 2)
                        {
                            <a class="nav-link" href="/SecurityGuard/Home">ระบบรายงานพฤติกรรมการใช้ยานพาหนะ</a>
                        }
                    }
                    else
                    {
                        <a class="nav-link" href="/Registrar/Login">ระบบรายงานพฤติกรรมการใช้ยานพาหนะ</a>
                    }
                </li>
            </ul>

            <ul class="navbar-nav ml-0">
                <li class="nav-item">
                    @if (Session["Role"] != null)
                    {
                        if ((int)Session["Role"] == 0)
                        {
                            <a class="nav-link" href="#">@Session["userName"]</a>
                        }
                        else if ((int)Session["Role"] == 1)
                        {
                            <a class="nav-link" href="/Student/Information">@Session["userName"]</a>
                        }
                        else if ((int)Session["Role"] == 2)
                        {
                            <a class="nav-link" href="#">@Session["userName"]</a> // #########
                        }
                    }
                    else
                    {
                        <a class="nav-link" href="#">@Session["userName"]</a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Registrar/Logout">(Log out)</a>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()

</body>
</html>